<phpunit>
    <testsuites>
        <testsuite name="nordsoftware/lumen-newrelic">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
    <php>
        <env name="NEWRELIC_TRANSACTION_NAME_PATTERN" value="{controller} {routeName}"/>
    </php>
</phpunit>
